---
import "../styles/global.css"
import Layout from "../layouts/Layout.astro"
import Nav from "../components/Nav.astro";

---

<Layout title="about">
  <Nav />
    <h1>hola esto es un about</h1>
</Layout>