---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<span class="flex items-center">
  <span
    class="h-1 flex-1 bg-gradient-to-r from-transparent to-gray-200"
  ></span>

  <span class="shrink-0 px-8 text-black prose-xl font-bold">{title}</span>

  <span
    class="h-1 flex-1 bg-gradient-to-l from-transparent to-gray-200"
  ></span>
</span>