---
interface Props {
    title : string;
}

const { title } = Astro.props
---

<span class="flex items-center">
  <span class="h-px flex-1 bg-gradient-to-r from-transparent to-gray-300"
  ></span>

  <span class="shrink-0 px-12 text-gray-900 prose-2xl">{title}</span>

  <span class="h-px flex-1 bg-gradient-to-l from-transparent to-gray-300"
  ></span>
</span>
